
<mat-dialog-content>
    <button mat-menu-item (click)="modifier()">
        <mat-icon>description</mat-icon>
        <span>Description</span>
    </button>
    <button mat-menu-item (click)="openDialogCollaborateurs($event)">
        <mat-icon>group</mat-icon>
        <span>Attribuer collaborateurs</span>
    </button>
    <button mat-menu-item (click)="openDialogEtiquette($event)">
        <mat-icon>view_module</mat-icon>
        <span>Ajouter des étiquettes</span>
    </button>
    <button mat-menu-item (click)="supprimer()">
        <mat-icon>delete</mat-icon>
        <span>Supprimer la tache</span>
    </button>
</mat-dialog-content>
      