<!-- horizontal-user-home-menu.component.html -->
<div class="horizontal-menu">
  <a routerLink="home">
    <img class="menu-icon" src="assets/fotor-ai-202311050910.png" alt="Home" />
  </a>
  <a [routerLink]="['/', id, 'agenda']" class="menu-item">
    <mat-icon>date_range</mat-icon> Agenda
  </a>
  <div class="dropdown">
    <img src="assets/default-profile-picture-avatar-png-green.png" class="dropbtn" alt="Menu" />
    <div class="dropdown-content">
      <a routerLink="user-setting">Paramètres</a>
      <a routerLink="/">Déconnexion</a>
    </div>
  </div>
</div>
