
<h1>Création d'utilisateur</h1>
<form action="http://localhost:8080/utilisateur/create" method="POST">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required><br><br>
  
    <label for="prénom">Prénom :</label>
    <input type="text" id="prénom" name="prénom" required><br><br>

    <label for="user_name">Nom d'utilisateur :</label>
    <input type="text" id="user_name" name="user_name" required><br><br>

    <label for="mail">Adresse e-mail :</label>
    <input type="email" id="mail" name="mail" required><br><br>

    <label for="miniature">Lien vers miniature :</label>
    <input type="text" id="miniature" name="miniature"><br><br>

    <label for="bio">Description de l'utilisateur :</label>
    <textarea id="bio" name="bio" rows="4" cols="50"></textarea><br><br>

    <input type="submit" value="Créer l'utilisateur">
</form>