<div *ngIf="tache">
    <div class="container">
        <h1> Étiquettes </h1>
        
        <div class="label-container">
            <div class="form-row" *ngFor="let etiquette of listeEtiquette; let i = index" style="background-color: {{ etiquette.color }}">
                <input type="checkbox" [(ngModel)]="listeChecked[i]" (change)="changerEtiquette(etiquette.id, $event)">
                <a>{{ etiquette.name }}</a>
                <button class="bouttonSupprimer" (click)="supprimer(etiquette)">x</button>
            </div>
        </div>
        
        <div class="form-row">
            <button class="bouttonAjouter" (click)="plus()">{{symbole}}</button>
        </div>
        
        <div *ngIf="isCreating">
            <label>Nom <input [(ngModel)]="nom" type="text"></label>
        
            <mat-card class="zone zone-picker">
                <mat-form-field>
                    <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr" [disabled]="disabled">
                    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                    <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
                </mat-form-field>
            </mat-card>
        
            
            
            <button class="bouttonAjouter" (click)="ajouter()">Ajouter</button>
        </div>
    </div>
</div>
  
