<div class="container">
    <!-- Petit encadré avec texte -->
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                Texte de votre choix
            </div>
        </div>
    </div>

    <!-- Colonnes pour chaque section du projet -->
    <app-section class="app-section table-style" *ngFor="let section of projet?.sections" [id]="section.id"></app-section>
    
    <button (click)="onPlusClick($event)" class="app-section table-style" *ngIf="id" [routerLink]="['/', id, 'project', projetId, 'create-section']">+</button>
    <app-create-section *ngIf="showCreateSection" [mouseX]="mouseX" [mouseY]="mouseY"></app-create-section>
    <router-outlet></router-outlet>
</div>
