.app-section {
  display: inline-block;
}

.table-style {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.app-create-section {
  position: absolute;
}

.container {
  z-index: 0;
  height: auto;
  width: auto;
}

.row{
  z-index: 1;
  position: sticky;
  top: 62px;
  border-bottom: 2px solid rgb(53, 53, 53);
  border-right: 2px solid rgb(53, 53, 53);
  width: auto;
  height:auto;
  padding: 0px;
  padding-left: 2px;
}

.col{
  padding: 0px;
  width: auto;
  height: 80px;
}

.separator {
  height: 100%;
  content: "";
  border-left: 0.13em solid #2e2e2e;
}

.header{
  padding: 0px;
  margin-top: 15px;
  width: auto;
  height: 80px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: rgb(66, 66, 66);
}


.projet-info{
  width: auto;
  height: auto;
  margin: 0px 10px 0px 10px;
  justify-content: space-between;
  display: flex; 
  flex: 1;
}

.projet-name{
  margin-top: 15px;
  color: rgb(255, 255, 255);
}

.projet-date{
  margin-top: 25px;
  display: flex;
  color: rgb(216, 216, 216);
}


.selection{
  width: auto;
  height: auto;
  display: flex;
  flex: 1;
  justify-content:space-evenly;
}

.setting{
  width: auto;
  height: auto;
  flex: 1;
  display: flex;
  justify-content:end;

}

.nvsectkban:hover{
  background-color: rgb(88, 88, 88);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.nvsectscrum:hover{
  background-color: rgb(88, 88, 88);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.nvsectscrum{
  height: 30px;
  width: 60px;
  background-color: rgb(61, 61, 61);
  color: lightgray;
  font-size:  30px;
  font-weight: 400;
  
  display: flex;
  justify-content: center;
  align-items: center;
}



.nvsectkban{
  height: 60px;
  width: 30px;
  font-size:  30px;
  background-color: rgb(61, 61, 61);
  color: lightgray;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.background_content {
  z-index: 1;
  bottom: 0;
  width: auto;
  min-height: calc(100vh - 47px) ;
  height: auto;
  overflow: auto;
  background: radial-gradient(55% 70% at center, rgba(63,94,251,0.9) 50%, rgba(252,70,107,0.8) 100%);  
}

.horizontal-list {
  display: flex;
  flex-direction: row;
}

.horizontal-list > div{
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.section-list {
  width: 100%;
  min-width: max-content;
  min-height: 60px;
  flex-direction: row;
  display: flex;
}

.section-list-col {
  width: auto;
  min-height: 60px;
  display:flex;
  flex-direction: column;
  overflow: hidden;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.section-list.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
