<!-- <div  class="modal" [ngStyle]="contextMenuStyle" >
    <div class="clickable" (click)="navigateToProjectSettings()">Paramètres du projet</div>
</div> -->

<button mat-icon-button [matMenuTriggerFor]="menu" style="transition: box-shadow 0.3s ease-in-out;">
  <mat-icon style="color: #f2f2f2;">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigateToProjectSettings()">
    <mat-icon class="mat-icon-white">create</mat-icon>
    <span>Paramètres du projet</span>
  </button>

  <button mat-menu-item (click)="navigateToEquipeGestion()">
    <mat-icon class="mat-icon-white">add</mat-icon>
    <span>Gestion des Equipes</span>
  </button>

  <button mat-menu-item (click)="showEtiquetteSettings()">
    <mat-icon class="mat-icon-white">view_module</mat-icon>
    <span>Etiquettes</span>
  </button>
</mat-menu>
