<div *ngIf="tache" class="container">
  <div class="header">
    <span style="
            color: white;
            font-size: 1.7em;
            font-weight: 1800;
            text-align: left;
          ">
          {{ tache.nom }}
        </span>
  </div>
  <div *ngIf="editingNom">
    <form [formGroup]="sectionForm" (ngSubmit)="saveNomChanges()">
      <input formControlName="nom" placeholder="Nouveau nom" />
      <div class="button-container">
        <button type="submit">Enregistrer</button>
        <button type="button" (click)="cancelEditing()">Annuler</button>
      </div>
    </form>
  </div>
  <hr />
  <div>
    Passer le statut de cette tâche à terminé
    <mat-checkbox
      [checked]="tache.statutTerminer"
      (change)="swapStatut()"
    ></mat-checkbox>
  </div>
  <div>
    <p>
      <mat-form-field>
        Date de fin:
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="tache.dateLimite"
          (dateInput)="onDateInputChange()"
          placeholder=""
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
  </div>
</div>
