<div *ngIf="tache" class="container">
    <div class="header">
      <h2 >
        <h3>Nom: {{ tache.nom }}</h3>
        <button *ngIf="!editingNom" (click)="startEditingNom()" class="app-section table-style create-button">
          <mat-icon class="create-icon">create</mat-icon>
          {{ tache.nom }}
        </button>
      </h2>
    </div>
  
    <div *ngIf="editingNom">
      <form [formGroup]="sectionForm" (ngSubmit)="saveNomChanges()">
        <input formControlName="nom" placeholder="Nouveau nom" />
        <div class="button-container">
          <button type="submit">Enregistrer</button>
          <button type="button" (click)="cancelEditing()">Annuler</button>
        </div>
      </form>
    </div>

    <div>
        Passer le statut de cette tâche à terminé
        <mat-checkbox [checked]="tache.statutTerminer" (change)="swapStatut()"></mat-checkbox>
    </div>
  
</div>




  
