<div class="container">
    <div class="table ">
            <div class="table-row">
                <div class="cell" style="margin-top: -15px;" *ngIf="!isEditingNom" (dblclick)="isEditingNom = true">
                        <strong style="font-size: 1.80em;">{{section?.nom}}</strong>
                    </div>
                    <div class="cell" *ngIf="isEditingNom">
                        <textarea style="text-align: center; outline: none; background-color: rgb(75, 75, 75); border: 2px solid rgb(46, 46, 46); padding: 0px; margin: 0px;" #textareaNom *ngIf="isEditingNom" [(ngModel)]="section.nom" (blur)="updateTaskNom()" (input)="adjustTextareaNom($event)" ></textarea>
                    </div>
                <div class="cell">Assignée</div>
                <div class="cell">Statut</div>
                <div class="cell">Priorité</div>
                <div class="cell">Estimation</div>
                <div class="cell">Date de Création</div>
                <div class="cell">Date limite</div>
            </div>
    </div>
    <div class="table2 ">
            <div style="margin: 0px; padding: 0px;" class="table-row2" *ngFor="let tache of tasks">
                    <app-tache-scrum style="margin: 0px; padding: 0px;" [id]="id" [tacheId]="tache" [sectionId]="sectionId" [projetId]="projetId"></app-tache-scrum>
            </div>
        </div>
</div> 