
.container {

  color: white;
  margin: 10px 10px 10px 10px;
  border: 1px;
  border-color: rgb(110, 110, 110);
  border-width: 2px;
  border-style:solid;
  border-radius: 10px;
  padding: 0;
  width:auto;
  background-color: rgb(65, 65, 65) ;
}

.table-style {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  margin-right: 15px;
  width: 250px;
  box-sizing: border-box; 
  color: lightgray;
  background-color: rgb(61, 61, 61);
}

.nvl_tache:hover{
  background-color: rgb(85, 85, 85);
  color: white;
  cursor: pointer;
}

.app-section {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box; 
}

.table {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(7, 1fr); /* Ajustez ce nombre en fonction du nombre de colonnes dans votre tableau */
    gap: 10px;
    width: auto;
    margin: 2px;
    padding:auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    border-color: gray;
    background-color: rgb(61, 61, 61) ;
    
}

  .table-row {
    width: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;

}


.table2 {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(7, 1fr); /* Ajustez ce nombre en fonction du nombre de colonnes dans votre tableau */
  gap: 0px;
  width: auto;
  margin: 2px;
  padding:auto;

  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(128, 128, 128, 0.5) ;
  
}

.table-row2 {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0;
  margin: 0;
}

  
.cell {
  flex:1;
  display: table-cell;
  min-height: 40px;
  text-align: center;
  vertical-align: middle;
  overflow: auto;
  margin-left: -5px;
}
