<div class="create-project-container">
    <a>Nom du Projet <input [(ngModel)]="project.nom" type="text" placeholder="Project Name"></a>
    <a>Section pré-définit <input type="checkbox" [(ngModel)]="project.standardSection"> </a>
    <a>Description <textarea [(ngModel)]="project.description" rows="4" cols="50" placeholder="Description."></textarea></a>
    <a>Date butoire 
        <mat-form-field appearance="fill">
            <mat-label>Choisir une date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="project.dateButoire">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </a>
    <button (click)="submitForm()">Créer le projet</button>
</div>