<!-- lateral-user-home-menu.component.html -->
<app-lateral-user-home-menu (refreshMenu)="refreshComponent()"></app-lateral-user-home-menu>
<div>
    <a [routerLink]="['/', id, 'home']">Home</a>
    <hr> <!-- Barre de séparation -->
    <div *ngIf="projects.length > 0">
        <div *ngFor="let project of projects">
            <a [routerLink]="['/', id, 'projects', project]">{{ project.nom }}</a>
        </div>
    </div>
    <div class="centered">
        <p>Creer un nouveau projet !</p>
        <button [routerLink]="['/', id, 'create-project']">+</button>
    </div>
    <div>
        <div *ngIf="projects.length > 0">
            <p class="centered">Projet</p>
            <div *ngFor="let projectId of projects">
                <a [routerLink]="['/', id, 'projects', projectId]">{{ projectId }}</a>
            </div>
        </div>
        <div style="margin-top: 40px;" class="centered">
            <button [routerLink]="['/', id, 'create-project']">+</button>
            <p>Creer un nouveau projet !</p>
        </div>
        <hr>
    </div>
  </div>