/* lateral-user-home-menu.component.css */
:host {
    display: block;
    height: calc(100% - 60px); /* Adjust 60px to the height of your horizontal menu */
    position: fixed;
    top: 60px; /* Adjust 60px to the height of your horizontal menu */
    left: 0;
    width: 200px; /* Adjust this to your preferred width */
    background-color: #333; /* Change this to your preferred color */
  }
  
  :host a {
    display: block;
    color: #f2f2f2; /* Change this to your preferred color */
    padding: 8px 16px;
    text-decoration: none;
  }
  
  :host a:hover {
    background-color: #ddd; /* Change this to your preferred color */
    color: black; /* Change this to your preferred color */
  }

  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .lateral-menu {
    border: 2px solid #444; /* Close to the original background color */
    background: radial-gradient(circle at center, #333, #444); /* Radial gradient from original background color to border color */
}
.project-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-button {
  border: none; /* remove border */
  color: lightgray; /* change color of ... to light gray */
  background-color: transparent; /* remove background color */
}

.settings-button:hover {
  background-color: gray; /* change this to a darker color */
}

.settings-button:before {
  content: "\2022 \2022 \2022"; /* add space between dots */
  letter-spacing: 2px; /* adjust space between dots */
  font-size: 20px; /* adjust size of ... */
}