<!-- lateral-user-home-menu.component.html -->
<div class="lateral-menu">
    <a [routerLink]="['/', id, 'home']">Home</a>
    <hr> <!-- Barre de séparation -->
    <div *ngIf="projects.length > 0; else noProjects">
        <div *ngFor="let projectId of projects">
            <a [routerLink]="['/', id, 'projects', projectId]">{{ projectId }}</a>
        </div>
    </div>
    <ng-template #noProjects>
        <div class="centered">
            <p>Creer un nouveau projet !</p>
            <button [routerLink]="['/', id, 'create-project']">+</button>
        </div>
    </ng-template>
  </div>