.container {
    display: flex;
    flex-direction: column;
    height: auto; /* Utilise toute la hauteur de la fenêtre de visualisation */
  }
  
  .app-lateral-user-home-menu {
    /* Ajustez la largeur du menu latéral ici */
    width: 200px; /* exemple */
    
  }
  
  .right-section {
    display: flex;
    z-index: 2;
  }
  
  .app-horizontal-user-home-menu {
    /* Ajustez la hauteur du menu horizontal ici */
    height: 50px; /* exemple */
  }
  
  .router-content {
    height: 100%;
    flex-grow: 1;
    overflow: visible; /* Ajoute une barre de défilement si le contenu est trop grand */
    padding-top: 46px; /* décalage vers le bas de la hauteur du menu horizontal */
    padding-left: 200px;
  }