<div class="container">
    <!-- Première ligne -->
    <div class="row">
      <!-- Première colonne -->
      <div class="col">
        <img [src]="'http://localhost:8080/utilisateurs/img?id=' + user['id']" class="miniature" />
      </div>
      <!-- Deuxième colonne -->
      <div class="col">
        <!-- Première ligne -->
        <div class="row">
          <p>{{user.nom}}</p>
          <p>{{user.prenom}}</p>
        </div>
        <!-- Deuxième ligne -->
        <div class="row" style="padding: 0; margin: 0;">
          <p>@{{user.userName}}</p>
        </div>
      </div>
    </div>
    <!-- Deuxième ligne -->
    <div class="row" style="margin: 10px; justify-content: space-between;">
      <!-- Première colonne -->
      <div class="col">
        <button class="ajt_ami">Ajouter en ami</button>
      </div>
      <!-- Deuxième colonne -->
      <div class="col">
        <a [routerLink]="['/',id,'user-profil',user.id]" style="text-decoration: underline; color: lightgray;">Voir le profile</a>
      </div>
    </div>
  </div>