<div class="container">
    <h1>Les etiquettes : </h1>
    <div class="form-row" *ngFor="let etiquette of listeEtiquette" [style.background-color]="etiquette.color">
      <a>{{ etiquette.name }}</a>
    </div>
    <div class="form-row">
      <button (click)="plus()">{{symbole}}</button>
    </div>
    <div *ngIf="isCreating">
        <a>Nom de l'etiquette <input [(ngModel)]="nom" type="text" placeholder="Etiquette Name"></a>
        <!--ici je veux choisir une couleur parmis une palette de couleur simple-->
        <div class="color-palette">
            <div *ngFor="let color of colors" 
                 (click)="selectColor(color)" 
                 [style.background-color]="color" 
                 [class.selected]="color === couleurActuel" 
                 class="color-box">
            </div>
        </div>
        <button (click)="ajouter()">Ajouter</button>
    </div>
</div>
  