<mat-card class="card-custom-background">
  <mat-card-content>
    <div class="section-entry">
      <div class="container" *ngIf="tache">
        <div class="header">
          <div class="couleur">
            <div *ngFor="let etiquette of etiquettes" class="etiquette">
                <div style="height: 14px; font-size: 10px; border-radius: 15px; padding: 2px 2px 2px 2px;" [style.color]="getContrastColor(etiquette.color)" [style.background-color]="etiquette.color">{{ etiquette.name }}</div>
            </div>
          </div>
          <div class="date-limite" *ngIf="this.tache.dateLimite">
            <span style="margin: 0px; padding-top: 8px;">{{ this.tache.dateLimite | date : "dd-MM-yyyy" }}</span>
            <mat-icon style="font-size: 18px; padding: 6px 3px 0px 3px; " (click)="openDialogDate($event)">calendar_today</mat-icon>
          </div>
        </div>
        <div class="contenu" *ngIf="!isEditingNom" (dblclick)="editNom()">
            <p>{{ tache.nom }}</p>
            <div class="header">
              <div *ngFor="let membre of membreAttribue" class="miniature " style="position: relative;"  (mouseenter)="showMiniUserProfile(membre, $event)" (mouseleave)="hideMiniUserProfile()">
                <img [src]="'http://localhost:8080/utilisateurs/img?id=' + membre['id']" class="miniature" />
              </div>
            </div>
            <app-mini-user-profil [style.top.px]="mouseY" [style.left.px]="mouseX" style="position: fixed; z-index: 1;"
               *ngIf="showMiniUserProfil" [membre]="selectedMembre" [id]="id"
                         (mouseenter)="cancelHideMiniUserProfile()" 
                         (mouseleave)="hideMiniUserProfile()"></app-mini-user-profil>
            
        </div>
        <div class="contenu" *ngIf="isEditingNom">
            <textarea style="text-align: center;" #textareaNom *ngIf="isEditingNom" [(ngModel)]="tache.nom" (blur)="updateTaskNom()" (input)="adjustTextareaNom($event)" ></textarea>
        </div>
        <div class="settings-and-checkbox" style="justify-content: center; align-items: center; text-align: center;"  *ngIf="droitUtilisateurActuel != 'Visiteur'">
          <mat-icon style="font-size: 18px; padding: 6px 3px 0px 3px; " matRipple (click)="openDialogSetting($event)">edit</mat-icon>
          <mat-checkbox
            [checked]="tache.statutTerminer"
            (change)="swapStatut()"
          >
          </mat-checkbox>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
