<mat-card class="card-custom-background">
  <mat-card-content>
    <div class="section-entry">
      <div class="container" *ngIf="tache">
        <div class="header">
          <div *ngFor="let membre of membreAttribue" class="miniature" style="position: relative;"  (mouseenter)="showMiniUserProfile(membre, $event)" (mouseleave)="hideMiniUserProfile()">
            <img [src]="'http://localhost:8080/utilisateurs/img?id=' + membre['id']" class="miniature" />
          </div>
          <app-mini-user-profil [style.top.px]="mouseY" [style.left.px]="mouseX" style="position: fixed; z-index: 1;"
             *ngIf="showMiniUserProfil" [user]="selectedMembre" [id]="id"
                       (mouseenter)="cancelHideMiniUserProfile()" 
                       (mouseleave)="hideMiniUserProfile()"></app-mini-user-profil>
          <div style="display: flex; justify-content: flex-end; text-align: right; width: 100%;" *ngIf="this.tache.dateLimite">
            Prévu le: {{ this.tache.dateLimite | date : "dd-MM-yyyy" }}
            <mat-icon style="margin-right: 8px; margin-left: 8px; margin-top: -5px; padding-bottom: 10px;" (click)="openDialogDate($event)">calendar_today</mat-icon>
          </div>
        </div>
        <div class="contenu" *ngIf="!isEditingNom" (dblclick)="editNom()">
            <p>{{ tache.nom }}</p>
        </div>
        <div class="contenu" *ngIf="isEditingNom">
            <textarea style="text-align: center;" #textareaNom *ngIf="isEditingNom" [(ngModel)]="tache.nom" (blur)="updateTaskNom()" (input)="adjustTextareaNom($event)" ></textarea>
        </div>
        <div class="settings-and-checkbox"  *ngIf="droitUtilisateurActuel != 'Visiteur'">
          <mat-icon (click)="openDialogSetting($event)">edit</mat-icon>
          <mat-checkbox
            [checked]="tache.statutTerminer"
            (change)="swapStatut()"
          >
          </mat-checkbox>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
