<div class="parent-container">
    <div class="container">
        <div class="section">            
            <div class="section-container" style="width: flex;">
                <div class="header_section" style="width: 100%;">Présentation du projet <p class="inline-p"><strong style="font-size: 1.5em;">{{ project.nom}}</strong></p></div>            

                <div class="header" style="width: 100%;">
                    <p><strong style="font-size: 1.5em;">{{project.nom}}</strong></p>
                    <p>Créer par : <strong style="font-size: 1.5em;">{{createur?.userName}}</strong></p>
                    <p>Date de création : <strong style="font-size: 1.5em;">{{getFormattedDate(project.dateCreation)}}</strong></p>
                </div>
                <div class="section-container" style="width: 100%; 
                box-sizing: border-box;">
                <div class="header_section" style="width: 100%;">Description:</div>
                    <p style="width: 100%;">{{project.description}}</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-container">
              <div class="header_section">Nom du projet:</div>
                <div class="field-group">
                    <label>{{ fields[0].label }} :</label>
                    <p>{{project[fields[0].key]}}</p>
                    <input [(ngModel)]="fields[0].value" (ngModelChange)="fields[0].saved = false">
                    <button *ngIf="!fields[0].saved" [disabled]="!fields[0].value || fields[0].value === getUserProperty(fields[0].key)" (click)="save(fields[0])">Enregistrer</button>
                    <span *ngIf="fields[0].saved">&#10004;</span> <!-- This is a checkmark -->
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-container">
              <div class="header_section">Date buttoire:</div>
              <form [formGroup]="dateForm" (ngSubmit)="saveDate()">
                <div style="display: flex; align-items: center;">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" formControlName="datePicker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  
                    <div>
                      <button *ngIf="!fields[1].saved" 
                              [disabled]="dateForm.get('datePicker')?.invalid || getFormattedDate(dateForm.get('datePicker')?.value) === getFormattedDate(project.dateButtoire)" 
                              (click)="saveDate()">Enregistrer</button>
                  
                      <div *ngIf="fields[1].saved">
                        <mat-icon>check_circle</mat-icon>
                      </div>
                    </div>
                  </div>
                  
                  <div *ngIf="dateForm.invalid && dateForm.touched">
                    Date invalide
                  </div>
              </form>
            </div>
        </div>
        <div class="section">
            <div class="section-container">
              <div class="header_section">Description:</div>
              <form [formGroup]="descriptionForm">
                <textarea formControlName="description"></textarea>
                <button *ngIf="!fields[2].saved" 
                        [disabled]="descriptionForm.get('description')?.invalid || descriptionForm.get('description')?.value === project.description" 
                        (click)="saveDescription()">Enregistrer</button>
                <div *ngIf="fields[2].saved">
                  <mat-icon>check_circle</mat-icon>
                </div>
              </form>
            </div>
          </div>
        <div class="section-last">
            <div class="section-container">
              <div class="header_section">Clôturer le projet:</div>
                <button class="close-button" (click)="closeProject()">Clôturer</button>
            </div>
        </div>
        <!-- Ajoutez autant de sections que nécessaire -->
  </div>
</div>