.parent-container{
    width: 100%;
    height: auto;
    min-height: 100%;
    color: lightgray;
}

.background_content {
  z-index: 1;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  min-height: calc(100vh - 47px) ;
  height: auto;
  overflow: auto;
  background: radial-gradient(85% 85% at center, rgba(63,94,251,1) 50%, rgba(252,70,107,1) 100%);
}

.container {
    width: 95%;
    border-width: 10px;
    border: 4px double rgb(31, 27, 27);
    border-radius: 8px;
    margin: 20px auto 0 auto;
    box-sizing: border-box;
    background-color: rgb(56, 54, 54);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    border-width: 10px;
    border: 2px double rgb(31, 27, 27);
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .inline-p {
    padding-left: 10px;
    display: inline;
}

  .header_section {
    width: 100%;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .section {
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
  }
  .section-last {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .section-container{
    margin: 10px;
    border-width: 10px;
    border: 3px double #000;
    border-radius: 8px;
    background-color: rgb(75, 73, 73);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .field-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .checkmark {
    color: green;
  }

  .close-button {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.add-collaborator-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.add-collaborator-button button {
  font-size: 25px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  text-align:center;
  padding-bottom: 6px;
  padding-right: 6px;
}

.add-collaborator-button p {
  margin-top: 10px;
}