<div class="parent-container background_content">
    <div class="container">
        <div class="section">            
            <div class="section-container" style="width: flex;">
                <div class="header_section" style="width: 100%;">Présentation du projet</div>            
                <div class="header" style="width: 100%;">
                    <p><strong style="font-size: 1.5em;">{{project?.nom}}</strong></p>
                    <p>Créer par : <strong style="font-size: 1.5em;">{{createur?.userName}}</strong></p>
                    <p>Le : <strong style="font-size: 1.5em;">{{getFormattedDate(project?.dateCreation)}}</strong></p>
                    <p>Prévu pour le : <strong style="font-size: 1.5em;">{{getFormattedDate(project?.dateButtoire)}}</strong></p>
                </div>
                <div class="section-container" style="width: 100%;box-sizing: border-box;">
                    <div class="header_section" style="width: 100%;">Description:</div>
                    <p style="width: 100%;">{{project?.description}}</p>
                </div>
                <div class="section-container" style="width: 100%;box-sizing: border-box; ">
                    <div class="header_section" style="width: 100%;">Collaborateurs:</div>
                    <table *ngIf="droitUtilisateurActuel == 'Admin'" style="width: 50%; background-color: rgb(41, 41, 41);">
                        <tr style="display: flex; width: 98%; background-color: rgb(41, 41, 41);">
                            <td style="width: 78%;">
                                Nom d'utilisateur(Droit d'utilisation)
                            </td>
                            <!-- Ici On modifie les droits de l'utilisateur -->
                            <td style="width: 20%; ">
                                Modifier Droits
                            </td>
                            <td style="width: 3%;"><span></span>
                            </td>
                        </tr>
                        <tr style="display: flex; width: 98%; background-color: rgb(56, 56, 56);" *ngFor="let collaborateur of listCollaborateur; let i = index">
                            <td style="width: 76%; border: 1px solid black;">
                                {{ collaborateur['userName'] }} ({{ droitUtilisateurs[i] }})
                            </td>
                            <!-- Ici On modifie les droits de l'utilisateur -->
                            <td style="width: 20%; border: 1px solid black;">
                                <div  *ngIf="collaborateur.id != createur?.id">
                                    <select [(ngModel)]="droitUtilisateurs[i]" (ngModelChange)="changerDroit(i, droitUtilisateurs[i])"> <!-- Recupere le droit pour l'afficher -->
                                    <option *ngFor="let option of optionsDroit" [value]="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="width: 3%; border: 1px solid black; text-align: center;">
                                <button style="background-color: red; color: white;" *ngIf="collaborateur.id != createur?.id" (click)="deleteUtilisateur(collaborateur.id)">X</button>
                            </td>
                        </tr>
                    </table>
                    <table *ngIf="droitUtilisateurActuel != 'Admin'" style="width: 50%; background-color: rgb(41, 41, 41);">
                        <tr style="display: flex; width: auto; background-color: rgb(41, 41, 41);">
                            <td style="width: 100%;">
                                Nom d'utilisateur(Droit d'utilisation)
                            </td>
                        </tr>
                        <tr style="width: 98%; display: flex; background-color: rgb(56, 56, 56);" *ngFor="let collaborateur of listCollaborateur; let i = index">
                            <td style="width: 100%; display: flex; border: 1px solid black;">
                                {{ collaborateur['userName'] }} ({{ droitUtilisateurs[i] }})
                            </td>
                        </tr>
                    </table>
                    <div *ngIf="droitUtilisateurActuel == 'Admin' && addingCollaborator" style="display: flex; flex-direction: column; width: 100%;align-items: center; justify-items: center;">
                        <table  style="width: 50%; background-color: rgb(41, 41, 41);">
                            <tr style="display: flex; width: 98%; background-color: rgb(41, 41, 41);" >          
                                <td style="width: 76%; border: 1px solid black;"><input [(ngModel)]="nouveauCollaborateur" type="text" placeholder="Nom du collaborateur"></td>
                                <!-- Ici on choisit le droit du nouveau utilisateur qu'on ajoute au projet-->
                                <td style="width: 20%; border: 1px solid black;">
                                    <select [(ngModel)]="droitNouveauCollaborateur">
                                    <option *ngFor="let option of optionsDroit" [value]="option">{{ option }}</option>
                                    </select>
                                </td>
                                <td style="width: 3%; border: 1px solid black; text-align: center;">
                                    <mat-icon class="green-icon" (click)="enregistrerCollaborateur(nouveauCollaborateur, droitNouveauCollaborateur)">check</mat-icon>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="add-collaborator-button" *ngIf="!addingCollaborator && droitUtilisateurActuel == 'Admin'">
                        <button (click)="ajoutCollaborateur()">+</button>
                        <p>Ajouter collaborateur</p>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="droitUtilisateurActuel == 'Admin'"> <!-- Tout ca on l'affiche si on est Admin -->
            <div class="section">
                <div class="section-container">
                    <div class="header_section">Nom du projet:</div>
                    <div class="field-group">
                        <label>{{ fields[0].label }} :</label>
                        <p>{{project[fields[0].key]}}</p>
                        <input [(ngModel)]="fields[0].value" (ngModelChange)="fields[0].saved = false">
                        <button *ngIf="!fields[0].saved" [disabled]="!fields[0].value || fields[0].value === getUserProperty(fields[0].key)" (click)="save(fields[0])">Enregistrer</button>
                        <span *ngIf="fields[0].saved">&#10004;</span> <!-- This is a checkmark -->
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-container">
                    <div class="header_section">Date buttoire:</div>
                    <form [formGroup]="dateForm" (ngSubmit)="saveDate()">
                        <div style="display: flex; align-items: center;">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" formControlName="datePicker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div>
                                <button *ngIf="!fields[1].saved" 
                                        [disabled]="dateForm.get('datePicker').invalid || getFormattedDate(dateForm.get('datePicker').value) === getFormattedDate(project.dateButtoire)" 
                                        (click)="saveDate()">Enregistrer</button>
                                <div *ngIf="fields[1].saved">
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dateForm.invalid && dateForm.touched">
                            Date invalide
                        </div>
                    </form>
                </div>
            </div>
            <div class="section">
                <div class="section-container">
                    <div class="header_section">Description:</div>
                    <form [formGroup]="descriptionForm">
                        <textarea formControlName="description"></textarea>
                        <button *ngIf="!fields[2].saved" 
                            [disabled]="descriptionForm.get('description').invalid || descriptionForm.get('description').value === project.description" 
                            (click)="saveDescription()">Enregistrer</button>
                        <div *ngIf="fields[2].saved">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </form>
                </div>
            </div>
            <div class="section">
                <div class="section-container">
                    <div class="header_section">Date buttoire:</div>
                    <form [formGroup]="dateForm" (ngSubmit)="saveDate()">
                        <div style="display: flex; align-items: center;">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" formControlName="datePicker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div>
                                <button *ngIf="!fields[1].saved" 
                                        [disabled]="dateForm.get('datePicker').invalid || getFormattedDate(dateForm.get('datePicker').value) === getFormattedDate(project.dateButtoire)" 
                                        (click)="saveDate()">Enregistrer</button>
                                <div *ngIf="fields[1].saved">
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dateForm.invalid && dateForm.touched">
                            Date invalide
                        </div>
                    </form>
                </div>
            </div>
            <div class="section">
                <div class="section-container">
                    <div class="header_section">Description:</div>
                    <form [formGroup]="descriptionForm">
                        <textarea formControlName="description"></textarea>
                        <button *ngIf="!fields[2].saved" 
                        [disabled]="descriptionForm.get('description').invalid || descriptionForm.get('description').value === project.description" 
                        (click)="saveDescription()">Enregistrer</button>
                        <div *ngIf="fields[2].saved">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </form>
                </div>
            </div>
            <div class="section-last">
                <div class="section-container">
                    <div class="header_section">Clôturer le projet:</div>
                    <button class="close-button" (click)="closeProject()">Clôturer</button>
                </div>
            </div>
            <!-- Ajoutez autant de sections que nécessaire -->
        </div>
    </div>
</div> 