<h2>Changer le mot de passe</h2>
<div>
  <label>Mot de passe actuel:</label>
  <input type="password" [(ngModel)]="currentPassword" />
</div>
<div>
  <label>Nouveau mot de passe:</label>
  <input type="password" [(ngModel)]="newPassword" />
</div>
<div>
  <label>Confirmer le nouveau mot de passe:</label>
  <input type="password" [(ngModel)]="confirmNewPassword" />
</div>
<button mat-button (click)="onNoClick()">Annuler</button>
<button
  mat-button
  [mat-dialog-close]="{
    currentPassword: currentPassword,
    newPassword: newPassword,
    confirmNewPassword: confirmNewPassword
  }"
  (click)="updatePassword()"
>
  Confirmer
</button>
