.create-section-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: lightgreen;
  }

.form-row {
display: flex;
align-items: center;
}

.form-row a {
margin-right: 10px;
}