<div class="create-section-container">
    <h1>Créer un etat</h1>
    <div class="form-row">
      <a>Nom de la section</a>
      <input [(ngModel)]="nom" type="text" placeholder="Nom ...">
    </div>
    <div class="form-row">
      <button (click)="onCreerClick()">Créer</button>
      <button class="close-button" (click)="onNoClick()">X</button>
    </div>
    <h1>Ou ajouter parmis les sections</h1>
    <div *ngFor="let valeur of sections;">
      <input type="checkbox" (change)="handleClickOnSection($event, valeur.id)">{{ valeur.nom }}
    </div>
  </div>
  