<div class="parent-container">
    <div class="container">
      <div *ngFor="let field of fields">
        <div class="section">
          <div class="section-container">
            <div class="field-group">
              <label>{{ field.label }} :</label>
              <h2>{{user[field.key]}}</h2>
              <input [(ngModel)]="field.value" (ngModelChange)="field.saved = false">
              <button *ngIf="!field.saved" [disabled]="!field.value || field.value === getUserProperty(field.key)" (click)="save(field)">Enregistrer</button>
              <span *ngIf="field.saved">&#10004;</span> <!-- This is a checkmark -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="section">
          <div class="section-container">
            <div class="field-group" style="margin-bottom: 20px;">
              <label>Logo Actuel :</label>
              <img style="height: 40px; width: 40px;" [src]="imageSrc">
            </div>
            <div class="field-group" >
              <label>Choisir un nouveau logo </label>
              <input type="file" accept="image/*" (change)="onFileSelected($event)" *ngIf="!selectedFileName">
              <div *ngIf="selectedFileName">
                <span>{{ selectedFileName }}</span>
                <button (click)="removeSelectedFile()">X</button>
              </div>
              <button [disabled]="!selectedFile" (click)="saveLogo()">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>