<div class="parent-container">
    <div class="container">
      <div *ngFor="let field of fields">
        <div class="section">
          <div class="section-container">
            <div class="field-group">
              <label>{{ field.label }} :</label>
              <h2>{{user[field.key]}}</h2>
              <input [(ngModel)]="field.value" (ngModelChange)="field.saved = false">
              <button *ngIf="!field.saved" [disabled]="!field.value || field.value === getUserProperty(field.key)" (click)="save(field)">Enregistrer</button>
              <span *ngIf="field.saved">&#10004;</span> <!-- This is a checkmark -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>