<div class="table-style">
    <div class="app-section section-entry">
        <p> {{section?.nom}} </p>
        <app-section-setting *ngIf="showSetting" [mouseX]="mouseX" [mouseY]="mouseY" [sectionId]="sectionId"></app-section-setting>
        <button (click)="onSettingClick($event)" class="settings-button"></button>
    </div>
    <hr>
    <div  #taskContainer> </div>
    <div class="parent-container">
        <app-create-task *ngIf="showCreateTask" [mouseX]="mouseX" [mouseY]="mouseY" [sectionId]="sectionId"></app-create-task>
        <button (click)="onPlusClick($event)" class="app-section table-style" *ngIf="id">+</button>
    </div>
    <p>Créer Section</p>
</div>
