<div class="table-style">
    <div class="app-section section-entry">
        <div class="task-content"> <!-- Ajout d'une div pour le contenu de la tâche -->
            <p> {{section?.nom}} </p>
            
        </div>
        <app-section-setting [mouseX]="mouseX" [mouseY]="mouseY" [sectionId]="sectionId"></app-section-setting>
    </div>
    <hr>

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div cdkDrag *ngFor="let task of tasks">
      <app-tache [tacheId]="task" [sectionId]="sectionId"></app-tache>
    </div>
    <div class="parent-container">
      <button
        (click)="onPlusClick($event)"
        class="app-section table-style"
        *ngIf="id"
      >Nouvelle tâche</button>
    </div>
</div>
