<div class="trr" style="margin: 0px; padding: 0px;">
    <div class="cell">
        {{ tache?.nom }}
    </div>
    <div class="cell" style="display: flex; flex-direction: column;" >
        <div style="padding: 0; margin: 0;" *ngFor="let membre of membreAttribue">
            <div style="display: flex; padding: 0; margin: 0; align-items: center;">
                <img [src]="'http://localhost:8080/utilisateurs/img?id=' + membre['id']" class="miniature" />
                <h3 >{{ membre.nom }}</h3>
            </div>
        </div>
    </div>
    
    <div *ngIf="tache != null && tache != undefined" class="cell" [ngClass]="{'bg-create':(
        tache?.dateLimite == null && !tache.statutTerminer),
     'bg-success': tache.statutTerminer,
      'bg-warning': !tache.statutTerminer  && tache?.dateLimite != null}">
        {{ tache.statutTerminer ? 'Terminé' : tache.dateLimite != null ? 'En Cours' : 'Créer'}}
    </div>
    <div class="cell">
        {{ tache?.priorite }}
    </div>
    <div class="cell">
        {{ tache?.ponderation }}
    </div>
    <div class="cell">
        {{ tache?.dateCreation | date }}
    </div>
    <div class="cell">
        {{ tache?.dateLimite | date }}
        <mat-icon style="margin-left: 10px;" (click)="openDialog($event)">calendar_today</mat-icon>
    </div>
</div>