.trr {
  display: flex;
  justify-content: space-between;
  width: auto;
  border-bottom: 1px solid black;
  padding: 0px;
  margin: 0px;
}
.cell {
  height: auto;
  padding: 15px 17px 15px 17px;
  width: 200px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 1px solid black;
}

.cell:last-child {
  border-right: none;
}

.couleur {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  color: black;
  padding-top: 4px;
}

.container {
  width: 232px;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 4px 0px 2px 2px;
}

.contenu {
  width: 95%;
  text-align: start;
}

.etiquette {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4px;
  padding-right: 4px;
}

.couleur > div {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.miniature{
  width: 20px;
  height: 20px;
  margin: -10px 5px;
}

textarea {
  border: none;
  resize: none;
  outline: none;
  display:flex;
  text-align: start;
  margin-left: 8px;
  font-size: 13px;
  width: 95%;
  background-color: rgb(82, 82, 82);
  color: rgb(228, 228, 228);
}

.settings-and-checkbox {
  width: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nom_utilisateur:first-child{
  display: flex;
  height: 20px; 
  margin: -10px; 
  padding: 0px;
}

.bg-success{
  color: rgb(128, 233, 29);
}

.bg-warning{
  color: rgb(233, 128, 29);
}


.bg-create{
  color: rgb(233, 219, 29);
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 3px;
}

.etiquette-name {
  position: absolute;
  z-index: 9999; /* Assurez-vous que le z-index est suffisamment élevé pour être au-dessus du reste du contenu */
}