<div class="trr" style="margin: 0px; padding: 0px;">
    <div class="cell" *ngIf="!isEditingNom" (dblclick)="isEditingNom = true">
        {{ tache?.nom }}
        <div *ngFor="let etiquette of etiquettes" class="couleur">
                <div class="color-circle" [style.background-color]="etiquette.color" 
                    (mouseover)="showEtiquetteName($event, etiquette.name)"
                    (mouseout)="hideEtiquetteName()"></div>
        </div>
        <div *ngIf="isEtiquetteNameVisible" class="etiquette-name" [style.left.px]="etiquetteNameLeft" [style.top.px]="etiquetteNameTop">
            {{ hoveredEtiquetteName }}
        </div>
    </div>
    <div class="cell" *ngIf="isEditingNom">
        <textarea style="text-align: center;" #textareaNom *ngIf="isEditingNom" [(ngModel)]="tache.nom" (blur)="updateTaskNom()" (input)="adjustTextareaNom($event)" ></textarea>
    </div>
    <div class="cell" style="display: flex; flex-direction: column; position: relative;" >
        <div style="position: absolute; top: 5px; right: 0;">
            <mat-icon (click)="openDialogCollaborateurs($event)">more_vert</mat-icon>
        </div>
        <div style="padding: 0; margin: 0;" *ngFor="let membre of membreAttribue">
            <div style="display: flex; padding: 0; margin: 0; align-items: center;">
                <img [src]="'http://localhost:8080/utilisateurs/img?id=' + membre['id']" class="miniature" />
                <h3 style="margin: 5px;">{{ membre.nom }}</h3>
            </div>
        </div>
    </div>
    
    <div *ngIf="tache != null && tache != undefined" class="cell" style="display: flex; flex-direction: column; position: relative;" [ngClass]="{'bg-create':(
        tache?.dateLimite == null && !tache.statutTerminer),
     'bg-success': tache.statutTerminer,
      'bg-warning': !tache.statutTerminer  && tache?.dateLimite != null}">
      <div style="position: absolute; top: 5px; right: 5px;">
        <mat-checkbox
            [checked]="tache.statutTerminer"
            (change)="swapStatut()"
          >
          </mat-checkbox>
        </div>
        {{ tache.statutTerminer ? 'Terminé' : tache.dateLimite != null ? 'En Cours' : 'Créer'}}
        
    </div>
    <div class="cell" *ngIf="!isEditingPriorite" (dblclick)="isEditingPriorite = true">
        {{ tache?.priorite }}
    </div>
    <div class="cell" *ngIf="isEditingPriorite">
        <textarea style="text-align: center;" #textareaPriorite *ngIf="isEditingPriorite" [(ngModel)]="tache.priorite" (blur)="updateTaskPriorite()" (input)="adjustTextareaPriorite($event)"></textarea>
    </div>
    <div class="cell" *ngIf="!isEditingPonderation" (dblclick)="isEditingPonderation = true">
        {{ tache?.ponderation }}
    </div>
    <div class="cell" *ngIf="isEditingPonderation">
        <textarea style="text-align: center;" #textareaPonderation *ngIf="isEditingPonderation" [(ngModel)]="tache.ponderation" (blur)="updateTaskPonderation()" (input)="adjustTextareaPonderation($event)"></textarea>
    </div>
    <div class="cell">
        {{ tache?.dateCreation | date }}
    </div>
    <div class="cell">
        {{ tache?.dateLimite | date }}
        <mat-icon style="margin-left: 10px;" (click)="openDialog($event)">calendar_today</mat-icon>
    </div>
</div>