.trr {
  display: flex;
  justify-content: space-between;
  width: auto;
  border-bottom: 1px solid black;
  padding: 0px;
  margin: 0px;
}
.cell {
  height: auto;
  padding: 15px 17px 15px 17px;
  width: 200px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
  border-right: 1px solid black;
}

.cell:last-child {
  border-right: none;
}

.miniature{
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.bg-success{
  color: rgb(128, 233, 29);
}

.bg-warning{
  color: rgb(233, 128, 29);
}


.bg-create{
  color: rgb(233, 219, 29);
}