<div class="login-container">
  <div class="login-box">
    <div>
      <div class="input-field">
        <label for="nom">Nom :</label>
        <input
          type="text"
          id="nom"
          [(ngModel)]="user.nom"
          name="nom"
          required
        /><br /><br />
      </div>
      <div class="input-field">
        <label for="prenom">Prénom :</label>
        <input
          type="text"
          id="prenom"
          [(ngModel)]="user.prenom"
          name="prenom"
          required
        /><br /><br />
      </div>
      <div class="input-field">
        <label for="username">Nom d'utilisateur :</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="user.username"
          name="user_name"
          required
        /><br /><br />
      </div>
      <div class="input-field">
        <label for="password">mot de passe :</label>
        <input
          type="password"
          id="mail"
          [(ngModel)]="user.password"
          name="password"
          required
        /><br /><br />
      </div>
      <div class="input-field">
        <label for="email">Adresse e-mail :</label>
        <input
          type="email"
          id="mail"
          [(ngModel)]="user.email"
          name="email"
          required
        /><br /><br />
      </div>
      <div
        class="actions"
        style="
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <button (click)="createUtilisateur()">Créer l'utilisateur</button>
      </div>
    </div>
  </div>
</div>
